<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
<head>
</head>
<body>
<div th:fragment="placeholder"></div>
<div th:fragment="main" role="main" class="main" style="min-height: calc(100vh - 393px);">
        <div class="container" th:fragment="main-container">
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="logo">
                        <a th:href="@{/index.html}">
                            <img width="auto" height="58" th:src="@{/img/logo/duvallwifilogo.webp}"
                                 th:alt="#{error.generic.logo.alt}"
                                 alt="Porto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="solid my-5">
                </div>
            </div>
            <section class="http-error py-0">
                <div class="row justify-content-center py-3">
                    <div class="col-6 text-center">
                        <div class="http-error-main">
                            <h2 class="mb-0" ><span th:text="${statusCode}"></span>!</h2>
                            <span class="text-6 font-weight-bold text-color-dark" th:text="${errorHeading}">
                                UNEXPECTED ERROR
                            </span>
                            <p class="text-3 my-4 line-height-8" th:text="${errorMessage}">
                                An unexpected error has occured.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim.
                            </p>
                        </div>
                        <a th:href="@{/index.html}" class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-4 py-3 mt-1 mb-4">
                            <i class="fas fa-angle-left pe-3"></i>
                            <span th:text="#{error.generic.button.text}">GO BACK TO HOME PAGE</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
</div>
</body>
</html>
